# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js
/.next/
/out/

# Production
/build

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
password.txt
note.txt

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db

# Claude Code
.claude/
*.jsonl
CONTEXT.md
AGENTS.md

# Python
__pycache__/
*.py[cod]
*$py.class
*.so


# Sentry Config File
.env.sentry-build-plugin
